<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yczbest.usercenterserver.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.yczbest.usercenterserver.entity.User">
        <id column="tel" property="tel" />
        <result column="id" property="id" />
        <result column="nick_name" property="nickName" />
        <result column="password" property="password" />
        <result column="email" property="email" />
        <result column="role_id" property="roleId" />
        <result column="create_at" property="createAt" />
        <result column="create_by" property="createBy" />
        <result column="update_at" property="updateAt" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        tel, nick_name, password, email, role_id, create_at, create_by, update_at, update_by
    </sql>

</mapper>
